.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-footer {
  flex-shrink: 0;
  text-align: center;
  margin-bottom: 20px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-link {
  color: #6c757d !important;
}
.page-link:hover {
  color: #fff !important;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}
.page-item.active .page-link {
  color: #fff !important;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  font-weight: bolder !important;
}


@media only screen and (max-width: 600px) {
  .hideMobile{
    display: none !important;
  }
}